<h2>{{article.title}}</h2>
<div>URL: <a href="{{article.url}}">{{article.url}}</a></div>
<div>Posted by: <a href="/{{article.user.username}}">{{article.user.username}}</a></div>
<br>
<div>{{article.description}}</div>
