<style>
input[type="radio"]{
    -webkit-appearance: radio;
}
.bt{
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    border: none;
    background-color: #ff3700;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    right: 100px;
}
</style>


<form class="form1" method="GET" action="/">
    <label for="departCity">Departure City:</label>
    <input type="text" name="departCity" id="departCity">
    <label for="departureTime">Departure Date:</label>
    <input type="date" name="departureTime" id="departureTime">
    <label for="arrivalCity">Arrival City:</label>
    <input type="text" name="arrivalCity" id="arrivalCity">
    <label for="arrivalTime">Arrival Date:</label>
    <input type="date" id="arrivalTime" name="arrivalTime">
    <input type="submit" value="Filter">
</form>

{{#if isStaff}}
    <table class="table1">
        <tr>
            <th>Select</th>
            <th>Airline Name</th>
            <th>Flight Number</th>
            <th>Departure City</th>
            <th>Departure Airport</th>
            <th>Departure Time</th>
            <th>Arrival City</th>
            <th>Arrival Airport</th>
            <th>Arrival Time</th>
            <th>Price</th>
        </tr>
        {{#each flight}}
        <tr>
            <td>
                <form method="POST" action="/modFlight">
                    <input type="hidden" name="flightIds" value="{{this.flightNumber}}">
                    <button type="submit" class="bt">Delete</button>
                </form>
            </td>
            <td>{{this.airlineName}}</td>
            <td>{{this.flightNumber}}</td>
            <td>{{this.departCity}}</td>
            <td>{{this.departureAirport}}</td>
            <td>{{this.departureTime}}</td>
            <td>{{this.arrivalCity}}</td>
            <td>{{this.arrivalAirport}}</td>
            <td>{{this.arrivalTime}}</td>
            <td>{{this.price}}</td>
        </tr>
        {{/each}}
    </table>
</form>

{{/if}}